<main class="main">
    <h1 class="page-header">Meteorological Traker</h1>
    <div class="login-container">
        <h2 class="login-header">Sign In</h2>
        <input type="email" [(ngModel)]="email" placeholder="Enter your email" class="input-email">
        <input type="password" [(ngModel)]="password" placeholder="Enter your password" class="input-email">
        <button (click)="signIn()" class="email-authenticator">Login</button>
        <button (click)="signInWithGoogle()" class="google-authenticator">Login with Google </button>
    </div>
</main>